* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.left {
    width: 50%;
    height: 100%;
    background-color: #4640DE;
}

.right {
    width: 50%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right .head {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.right h1 {
    font-weight: 600;
    font-family: "ClashDisplay-Variable", sans-serif;
    font-size: 32px;
    line-height: 39px;
    color: #202430;
    width: 80%;
    text-align: center;
}

.google {
    border: 1px solid #CCCCF5;
    width: 80%;
}

.right form {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.fulname,
.email,
.pswrd {
    display: flex;
    flex-direction: column;
    gap: .5em;
}