* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.container .head {
    width: 100%;
    background-color: #F8F8FD;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

nav h1 {
    color: #25324B;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
}

nav .nav-links {
    display: flex;
    gap: 1em;
}