@import url(../ClashDisplay_Complete/Fonts/WEB/css/clash-display.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
    GLOBAL STYLING START
*/

a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/*
    GLOBAL STYLING END
*/

.container {
    width: 100%;
}

.container .head {
    width: 100%;
    background-color: #F8F8FD;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12em;
    padding-top: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

nav h1 {
    color: #25324B;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 36px;
    letter-spacing: 3px;
}

nav .nav-links {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

nav a {
    font-family: "Epilogue", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #4640DE;
}

nav .have-bg {
    padding: 14px 28px;
    background-color: #4640DE;
    color: #FFFFFF;
    border-radius: 8px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 5em;
    justify-content: center;
    align-items: center;
}

.hero .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .text {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.hero h1 {
    font-size: 72px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #25324B;
    line-height: 72px;
}

.hero p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #515B6F;
    font-size: 20px;
}

.hero span {
    color: #26A4FF;
}

.hero a {
    padding: 25px;
    color: #FFFFFF;
    background-color: #4640DE;
    font-family: "Epilogue", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    border-radius: 10px;
}

.features {
    width: 100%;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features .row {
    gap: 3em;
}

.features .box {
    height: 250px;
    width: 400px;
    background-color: #4640DE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.cta {
    padding: 70px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta .cta-cont {
    height: 300px;
    background-color: #25324B;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    background-color: #202430;
    display: flex;
    align-items: flex-end;
    height: 40vh;
    justify-content: center;
}

footer .footer {
    width: 80%;
    border-top: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer p {
    color: #FFFFFF;
    opacity: 50%;
}